body {
    font: 0.8em/1.5em Verdana, Geneva, Arial, Helvetica, sans-serif;
    color: #333;
    background: #c2a372 url(../images/background.jpg) repeat-y top right;
    text-align: center;
    height: 100%;
    margin: 0;
    padding: 0;
}

div#wrapper {
    background: url(../images/kijinlogo.jpg) no-repeat;
    width: 964px;
    margin: 10px auto;
}

div#page {
    width: 780px;
    background: #FFF url(../images/border.gif) repeat-y right;
    text-align: center;
    margin: 0 auto;
    padding: 0;
}

div#header {
    color: #FFF;
    background: #FFF url(../images/kijinlogo.jpg) no-repeat -92px 0;
    text-align: left;
    height: 168px;
    margin: 0;
}

div#branding {
    float: right;
    width: 40%;
    background: #FFF url(../images/border.gif) repeat-y right;
    height: 100%;
    margin: 0;
    padding: 0;
}

div#hcard {
    float: right;
    text-align: right;
    padding: 20px 30px 0 0;
}

div#hcard p {
    color: #000;
}

div#content {
    float: right;
    position: relative;
    width: 780px;
    text-align: left;
    background: #fff url(../images/border.gif) repeat-y right;
    margin: 0 auto;
    padding: 0;
}

div#main {
    float: right;
    width: 538px;
    display: inline;
    border-top: 1px dotted #CCC;
    border-left: 1px dotted #CCC;
    background: #f4f0e7 url(../images/border.gif) repeat-y right;
    padding: 20px;
}

#nav {
    float: left;
    width: 200px;
    display: inline;
    border-top: 1px dotted #CCC;
    border-right: 1px dotted #CCC;
    font-size: 0.9em;
    list-style: none;
    margin: 0;
    padding: 20px 0 0;
}

#nav li {
    list-style: none;
    line-height: 1em;
    border-bottom: 1px solid #aaa;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#nav li.last {
    border-right: none;
}

#nav a, #nav a:link, #nav a:active, #nav a:visited {
    display: block;
    font: 1.5em Georgia, "Times New Roman" , Times, serif;
    font-weight: 700;
    text-decoration: none;
    color: #ab7724;
    margin: 0;
    padding: 5px 0 5px 15px;
}

#nav a:hover {
    border-left: solid 10px #DB4F2C;
}

#nav strong {
    display: block;
    color: #FFF;
    background: #000;
}

#nav strong a, #nav strong a:link, #nav strong a:active, #nav strong a:visited, #nav strong a:hover {
    color: #FFF;
    background-color: #000;
}

div#footer {
    float: left;
    clear: both;
    color: #FFF;
    background-color: #000;
    background: #000 url(../images/border_footer.gif) repeat-y right;
    width: 100%;
}

div#footer p {
    font-size: 0.8em;
    margin: 0;
    padding: 15px;
}

.floatright {
    float: right;
    margin-left: 15px;
}

.floatleft {
    float: left;
    margin-right: 10px;
}

.input-wide {
    width: 300px;
}

.stretch, .clear {
    clear: both;
    height: 1px;
    font-size: 15px;
    line-height: 1px;
    margin: 0;
    padding: 0;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.replace {
    display: block;
    background-repeat: no-repeat;
    background-position: left top;
    background-color: transparent;
}

.replace * {
    text-indent: -10000px;
    display: block;
    background-repeat: no-repeat;
    background-position: left top;
    background-color: transparent;
}

.replace a {
    text-indent: 0;
}

.replace a span {
    text-indent: -10000px;
}

span.accesskey {
    text-decoration: none;
}

.accessibility {
    position: absolute;
    top: -999em;
    left: -999em;
}

img {
    border: 0;
}

a, a:link a:active {
    color: blue;
    background-color: #FFF;
    text-decoration: underline;
}

a:visited {
    color: purple;
    background-color: transparent;
}

a:hover {
    color: #FFF;
    background-color: #000;
    text-decoration: none;
}

h1, h2, h3 {
    color: #000;
    font-family: Georgia, "Times New Roman" , Times, serif;
}

h1 {
    font: 1.8em/1.5em Georgia, "Times New Roman" , Times, serif;
    margin: 0 0 0.5em;
    padding: 0;
}

h2 {
    font: 1.25em/1.25em Georgia, "Times New Roman" , Times, serif;
    margin: 0 0 0.5em;
    padding: 0;
}

h3 {
    font-size: 1.3em;
    line-height: 1.3em;
    margin: 0 0 0.5em;
    padding: 0;
}

h4 {
    font-size: 1.2em;
    line-height: 1.3em;
    color: #000;
    margin: 0 0 0.25em;
    padding: 0;
}

h5 {
    font-size: 1.1em;
    line-height: 1.3em;
    color: #000;
    margin: 0 0 0.25em;
    padding: 0;
}

h6 {
    font-size: 1em;
    line-height: 1.3em;
    color: #000;
    margin: 0 0 0.25em;
    padding: 0;
}

p {
    font-size: 1em;
    line-height: 1.4em;
    margin: 0 0 1.5em;
    padding: 0;
}

em, i {
    font-style: italic;
}

ul {
    line-height: 1.4em;
    margin: 0 0 1.5em;
    padding: 0;
}

ul li {
    margin: 0 0 0.25em 30px;
    padding: 0;
}

ol {
    font-size: 1em;
    line-height: 1.4em;
    margin: 0 0 1.5em;
    padding: 0;
}

ol li {
    font-size: 1em;
    margin: 0 0 0.25em 30px;
    padding: 0;
}

dl {
    line-height: 1.4em;
    margin: 0 0 1.5em;
    padding: 0;
}

dl dt {
    font-weight: 700;
    margin: 0.25em 0;
    padding: 0;
}

dl dd {
    margin: 0 0 0 30px;
    padding: 0;
}

table {
    font-size: 1em;
    margin: 0 0 1.5em;
    padding: 0;
}

table caption {
    font-weight: 700;
    margin: 0;
    padding: 0 0 1.5em;
}

th {
    font-weight: 700;
    text-align: left;
}

hr {
    display: none;
}

div.hr {
    height: 1px;
    border-bottom: 1px dotted #000;
    margin: 1.5em 10px;
}

fieldset {
    border: 1px solid #eee;
    margin: 0 0 1.5em;
    padding: 5px 10px;
}

fieldset legend {
    color: #666;
    font-size: 1.1em;
    font-weight: 700;
    background-color: #FFF;
    margin: 0;
    padding: 0;
}

* html fieldset legend {
    margin: 0 0 10px -10px;
}

fieldset ul {
    list-style: none;
    margin: 0 0 1.5em;
    padding: 0;
}

fieldset ul li {
    list-style: none;
    margin: 0 0 0.5em;
    padding: 0;
}

input, select, textarea {
    font-size: 1em;
    font-family: arial, helvetica, verdana, sans-serif;
    margin: 0;
    padding: 2px;
}

input, select {
    vertical-align: middle;
}

textarea {
    width: 200px;
    height: 8em;
}

input.file {
    height: auto;
    width: 250px;
}

input.readonly {
    background-color: transparent;
    border: none;
}

input.button {
    width: 10em;
    border: 1px solid #000;
    background-color: #ddd;
}

input.image {
    border: none;
    width: auto;
    height: auto;
}

form div.submit {
    margin: 1em 0;
}

form div.submit input {
    height: 2em;
    width: 15em;
}

.senseilist dt, div, td {
    font-size: 1em;
}

strong, b, label {
    font-weight: 700;
}

input.check, input.radio {
    border: none;
    width: auto;
    height: auto;
    margin: 0;
}


.error {
    color: Red;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #ff0000;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid {
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label, 
.editor-label {
    margin: 1em 0 0 0;
}

.display-field, 
.editor-field {
    margin: 0.5em 0 0 0;
}

.text-box {
    width: 30em;
}

.text-box.multi-line {
    height: 6.5em;
}

.tri-state {
    width: 6em;
}
